{:kotoba.app/id "cloud.itonami.isic-6619", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid7qiwpm5almxhpwrl6b6gad7rmhfoasvzupfnkdcmnusimvowmhu", :kotoba.app/embed-url "ipfs://bafkreid7qiwpm5almxhpwrl6b6gad7rmhfoasvzupfnkdcmnusimvowmhu", :published {:archive "https://kotobase.net/ipfs/bafkreid7qiwpm5almxhpwrl6b6gad7rmhfoasvzupfnkdcmnusimvowmhu", :size 75549, :put-status 201, :get-status 200, :at "2026-08-15T13:37:21.519Z"}}
